.lyara-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px #000;
  z-index: 1060;
  overflow: auto;

  &-link {
    flex: 1;
    display: block;
    text-align: center;
    font-size: .8rem;
    padding: 10px;
    &.active {
      background: green;
    }
  }
  &-icon {
    font-size: 1.5rem;
    display: block;
  }

  @media screen and (min-width: 992px) {
    right: auto;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    &-link {
      flex: 0;
      text-align: left;
      font-size: 1rem;
    }
    &-icon {
      font-size: 1rem;
      display: inline-block;
    }
  }
}

.lyara-container {
  margin-bottom: 80px;

  @media screen and (min-width: 992px) {
    margin-bottom: 0;
    margin-left: 350px;
    width: auto;
  }
}