<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<nav class="lyara-menu" role="navigation">
    <div class="d-none d-lg-block py-3 px-2">
        <h3>Lyara menu</h3>
        <p>
            This is just some intro text, it is only seen on large devices, we have added some
            <a href="//getbootstrap.com/docs/4.0/utilities/display/">bootstrap</a> classes here.
        </p>
    </div>
    {% include menu.html group='main' %}
</nav>
<div class="lyara-container">
    <div class="container">
        {{ content }}

        <div class="row">
            <div class="col-12">
                <hr>
                <p class="text-xs-right">
                    subscribe
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                        <i class="fa fa-rss"></i>
                        via RSS
                    </a>
                    |
                    connect
                    <a href="{{ site.github_url }}">
                        <i class="fa fa-github"></i>
                        on github
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
