<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include sidebar.html %}
<div class="lyara-container">
    <div class="container">
        {{ content }}

        <div class="row">
            <div class="col-12">
                <hr>
                <p class="text-xs-right">
                    subscribe
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                        <i class="fa fa-rss"></i>
                        via RSS
                    </a>
                    |
                    connect
                    <a href="{{ site.github_url }}">
                        <i class="fa fa-github"></i>
                        on gitbub
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
